name: CI - Build and Test Hello DevOps App

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t devops-hello .

      - name: Run container
        run: docker run -d -p 8080:80 devops-hello

      - name: Test response
        run: |
          sudo apt-get install -y curl
          sleep 3
          curl -I http://localhost:8080 | grep "200 OK"
